* {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}


.arrow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
}

.arrow-button.left {
    left: 10px;
}

.arrow-button.right {
    right: 10px;
}

.arrow-button:hover {
    background-color: rgba(3, 100, 185, 0.323);
}



.slider {
  background: #0d004d;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide {
  background: #0d004d;
  text-align: center;
  height: 100vh;
}

.slide-image {
  margin: 5vh auto 10px auto;
  height: 85vh;
  border-radius: 25px;
}


/* Стили кнопки */
.share-button {
    margin-top: auto;
    padding: 5px 10px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.share-button:hover {
    background-color: #0056b3; /* Цвет при наведении */
}
